<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phuhq.it.coffeeshoporder">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".A3_OrderDetails.A3_DialogOrder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".A3_OrderDetails.A3_OrderDetails" />
        <activity android:name=".A1_Intro.A1_Intro">

        </activity>
        <activity android:name=".A2_Login.A2_VerityOTP" />
        <activity
            android:name=".A2_Login.A2_Login"
            android:screenOrientation="locked" />
        <activity
            android:name=".A0_Main.MainActivity"
            android:screenOrientation="locked" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>