<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phuhq.it.coffeeshoporder">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".A12_Admin_Report.View.A12_Admin_Report"></activity>
        <activity android:name=".A11_Admin_Drinks.View.A11_Admin_DeleteDrink" />
        <activity android:name=".A11_Admin_Drinks.View.A11_Admin_UpdateDrink" />
        <activity android:name=".A10_Admin_User.View.A10_Admin_Delete_User" />
        <activity android:name=".A10_Admin_User.View.A10_Admin_UpdateUser" />
        <activity android:name=".A9_Admin_Menu.View.A9_Admin_Menu_Report" />
        <activity android:name=".A9_Admin_Menu.View.A9_Admin_Menu_Drink" />
        <activity android:name=".A9_Admin_Menu.View.A9_Admin_Menu_User" />

        <service
            android:name=".G_Setting.ReceivedMessage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".A11_Admin_Drinks.View.A11_Admin_NewDrinks" />
        <activity android:name=".A10_Admin_User.View.A10_Admin_ResetPassword" />
        <activity android:name=".A10_Admin_User.View.A10_Admin_AddUser" />
        <activity android:name=".A9_Admin_Menu.View.A9_Admin_Menu" />
        <activity android:name=".A8_Chef.View.A8_Chef_View_Details" />
        <activity android:name=".A8_Chef.View.A8_Chef_View_Order" />
        <activity android:name=".A7_TableList.View.A7_TableList" />
        <activity android:name=".A6_UserInfo.View.A6_UserInfo" />
        <activity android:name=".A5_ChangePassword.View.A5_ChangePassword" />
        <activity android:name=".A2_Login.View.A2_Login_Pass" /> <!-- <receiver android:name=".G_Setting.BootReceiver"> -->
        <!-- <intent-filter > -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- <action android:name="android.intent.action.QUIKBOOT_POWERON"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".A4_OrderOverView.View.A4_OrderComplete" />
        <activity android:name=".A4_OrderOverView.View.A4_OverView" />
        <activity android:name=".A3_OrderDetails.View.A3_OrderDetails" />
        <activity android:name=".A1_Intro.View.A1_Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".A2_Login.View.A2_VerityOTP" />
        <activity
            android:name=".A2_Login.View.A2_Login"
            android:screenOrientation="locked" />
        <activity
            android:name=".A0_Main.View.MainActivity"
            android:screenOrientation="locked" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>